
.Event-header {
    cursor: pointer;
    padding: 0.2em;
}

.Event-header:hover {
    background-color: #EEE;
}

.Event-time {
    font-weight: bold;
}

.Event-summary {
    font-weight: normal;
}

.Event-summary i {
    font-style: normal;
    font-weight: bold;
    color: #5A5;
}

.Event-summary .msg {
    font-weight: bold;
    color: #55A;
}

.Event-summary .err {
    font-weight: bold;
    color: #A55;
}

.Event-body pre {
    color: #AAA;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}