
.Event-header {
    cursor: pointer;
    padding: 0.2em;
}

.Event-header:hover {
    background-color: #EEE;
}

.Event-time {
    font-weight: bold;
}

.Event-summary {
    font-weight: normal;
}

.Event-summary i {
    font-style: normal;
    font-weight: bold;
    color: #484;
}

.Event-body {
    color: #AAA;
}